<div class="container">

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 class="centeredTitle largeMarginTop">Enter URL Here</h1>
      <%= form_tag '/links', method: :post do %>  
      <div>
        <%= text_field_tag :target_url, "", :placeholder => "Target URL", :class => "form-control textFieldTag" %>  
      </div> 
      <div>
        <h3 class="centeredTitle smallMarginTop">Optional - Choose your Slug.</h3>
        <%= text_field_tag :slug, "", :placeholder => "Slug", :class => "form-control textFieldTag" %>  
      </div>        
      <div id="buttonDiv">
        <%= submit_tag 'Create Link', class: "btn btn-default" %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>

</div>