<div class="container">
  <h1>Your shortened link:</h1>
  <h3>http://localhost:3000/<%= @link.slug %></h3>
  <h3>http://alink.herokuapp.com/<%= link_to @link.slug, "/#{@link.slug}", :method => "get", :class => "block-link" %></h3>
  <h1>Link Stats for <%= @link.slug%></h1>
  <h3>Visits: <%= @link.visit_count %></h3>
</div>